body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(fondoGato.png);
    background-size: cover
}
main{
    display: flex;
    background-color: rgba(214, 197, 211, 0.404);
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
}
h1{
    vertical-align: middle;
}
h5{
    color:antiquewhite
}
.contenido{
    display:grid;
   
    column-gap: 2px;
    
}
.uno{
    grid-column: 1/3;
}
.textoIn{
    height: 300px;
}
.dos{
    display:flex;
    flex-flow:column;
    grid-column: 3/4;
}
img{
    height:50px;
}
footer{
    position: absolute;
    
    width: 100%;
    bottom:10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(85, 71, 110, 0.575);
    p{
        text-align: center;
        width: 100%;
    }
}
.textoOut{
    height:300px;
}
.copiarBoton{
    width:60px;
}
#copiador,#encriptador,#desencriptador{
    background-color: rgb(79, 105, 97);
}
#desencriptador:hover{
    background-color: aquamarine;
}
#encriptador:hover{
    background-color: aquamarine;
}
#copiador:hover{
    background-color: aquamarine;
}
textarea{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nadita{
    height: 40%;
    z-index: 1;
    width:270px;
    height:500px
}
textarea{
    background-color: rgba(165, 42, 42, 0.63);
    color:antiquewhite
}